/**
 * Created by army8735 on 2017/7/31.
 */

@import '../component/doublecheck/index.less';
@import '../component/playlist/index.less';

.find{
  > .banner{
    position:relative;
    height:1.6rem;
    background:url(banner.png) no-repeat;
    background-size:cover;
    color:#fff;
    font-size:0.16rem;
    pre{
      position:absolute;
      left:0.1rem;
      bottom:0.1rem;
      right:0.1rem;
      margin:0;
      padding:0;
    }
  }
}
