/**
 * Created by army8735 on 2017/9/19.
 */

@import '../../common/var.less';

.top-nav{
  position:fixed;
  top:0;
  left:0;
  display:flex;
  padding:0 0.1rem;
  box-sizing:border-box;
  width:100%;
  height:0.44rem;
  background:@bgLinearGradientTopLeft;
  align-items:center;
  z-index:1000;
  color:#fff;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
  .logo{
    flex:1;
    width:0.7rem;
    height:0.3rem;
    background:url(logo.png) no-repeat 0 center;
    background-size:auto 0.3rem;
  }
  .search{
    display:block;
    width:0.18rem;
    height:0.18rem;
    background:url(nav_find.png) no-repeat 0 center;
    background-size:contain;
    white-space:nowrap;
    text-indent:999rem;
    overflow:hidden;
  }
  .user{
    margin-left:0.2rem;
    text-align:right;
    font-size:0.12rem;
    img{
      display:inline-block;
      margin-left:0.1rem;
      width:0.24rem;
      height:0.24rem;
      background:#eee;
      border-radius:100%;
      vertical-align:middle;
    }
  }
}